<!DOCTYPE html>

<html> 

  <head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" /> 
	<title>OSCAR Award Winners</title>

	<style type="text/css">
	#mainh{text-align:center; font-size: 50px; color: rgb(255, 255, 255); font-family: Impact}
    #firstp{text-align: center; font-family: }
    body{background-color: white}
    </style>
	
	<script type="text/javascript">
	/* Your JavaScript goes here */
	</script>
  </head>

  <body>
	<h1 id="mainh"> OSCAR Award Winners </h1>
    <p id="firstp"> Find the award winners for any given year. </p> 
        <form method="post" id="f1">
            <style type="text/css">
            body{text-align: center;}
            </style>
            <p> Year: <input type="text" id="loc" size="20" name="userloc" /> </p>
            <p> 
                <input type="reset" name="reset" value="Reset" />
                <input type="submit" name="submit" value="Find Award Winner" />
            </p>
        </form>    
  </body>
</html>